<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>てすと</title>
</head>

<body>
  <h1>【アークテリクス グランヴィル 25 Black】の在庫チェック</h1>
  <div>
    {% if arcteryx %}

    {% if arcteryx.stock_bool %}
    <h2 style="background-color: coral;">アークテリクス公式オンラインストア</h2>
    <a href={{ arcteryx.url }} target="_blank">{{ arcteryx.stock }}</a>
    {% else %}
    <h2>アークテリクス公式オンラインストア</h2>
    <p>{{ arcteryx.stock }}</p>
    {% endif %}

    {% endif %}
  </div>

  <div>
    {% if sunsay_shop %}

    {% if sunsay_shop.stock_bool %}
    <h2 style="background-color: coral;">Outdoor Style サンデーマウンテン</h2>
    <a href={{ sunsay_shop.url }} target="_blank">{{ sunsay_shop.stock }}</a>
    {% else %}
    <h2>Outdoor Style サンデーマウンテン</h2>
    <p>{{ sunsay_shop.stock }}</p>
    {% endif %}

    {% endif %}
  </div>


  <!-- <h2>ヤフオク</h2>
  {% if data %}
  {% for item in data %}
  <p>{{item.title }}</p>
  <img src={{ item.img_src }} alt="画像">
  {% endfor %}
  {% else %}
  <p>でーたなし</p>
  {% endif %} -->
</body>

</html>