<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>美容室情報</title>
</head>

<body>
  <h1>テスト</h1>
  {% if local_list %}
  {% for local in local_list %}
  <div style="margin: 10px; background-color:wheat;">
    <a href={{ local.page_url }} target="_blank">{{ local.shop_name }}</a>
    <p>{{ local.number }}</p>
    <p>{{ local.address }}</p>
    {% if local.website %}
    <a href={{ local.website }} target="_blank">
      ホームページ
    </a>
    {% endif %}
  </div>
  {% endfor %}
  {% endif %}
</body>

</html>